/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}


@mixin header-font {
    font-family: "alternate-gothic-no-2-d",sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin body-font-regular {
    font-family: "adelle-sans",sans-serif;
    font-style: normal;
    font-weight: 300;
}

@mixin body-font-italic {
    font-family: "adelle-sans",sans-serif;
    font-style: italic;
    font-weight: 300;
}

@mixin body-font-bold {
    font-family: "adelle-sans",sans-serif;
    font-style: normal;
    font-weight: 700;
}

$background-color: #B2E2F1;
$text-color: #000;
$header-color: #FAF1C4;
$grid: #DA9B8D;

